<!DOCTYPE html>
<html>
<head>
  <title>Rock,Paper,Scissors...</title>
</head>
<body>
<nav>
<ul>
<li><a href="/game">Welcome, Game rules</a></li>
<li><a href="/game/rock">Choose Rock</a></li>
<li><a href="/game/paper">Choose Paper</a></li>
<li><a href="/game/scissors">Choose Scissors</a></li>
</ul>
</nav>

<%= yield %>
</body>
</html>